<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="footer-links">
          <li>&copy; 2016 LVC Allies</li>
        </ul>
        <div style="clear:both;"></div>
        <p>Banner image credit: <a href="//www.black-holes.org">SXS, the Simulating eXtreme Spacetimes (SXS) project</a></p>
      </div>
      <div class="col-md-4">
        <ul class="footer-contacts">
          <li><a href="mailto:lvcallies@gmail.com" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-envelope" style="padding-right: 5px;" aria-hidden=true></span>Contact us</a></li>
          <li><a href="https://twitter.com/lvcallies" class="twitter-follow-button" data-show-count="false">Follow @lvcallies</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
      </div>
    </div>
  </div>
</footer>
