// _content.scss:

p {
		font-weight: 300;
		@media (min-width: 768px) {
				font-size: 18px;
		}
}

.doclink {
		font-size: 18px;
		.docurl {
				color: red;
				display: inline-block;
				width: 200px;
				width: 200px;
				padding-right: 10px;
				@media (min-width: 980px) {
						width: 321px;
						padding-right: 20px;
				}
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				vertical-align: top;
		}
}
