// _footer.scss

$footer-height: 120px;
$footer-height-desktop: 100px;
$footer-padding: 40px;

html {
		position: relative;
		min-height: 100%;
}

body {
		margin-bottom: $footer-height + $footer-padding;
		@media (min-width: 992px) {
				margin-bottom: $footer-height-desktop + $footer-padding;
		}
}

footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		//height: $footer-height;
		font-size: 16px;
		background-color: #333;
		@media (min-width: 992px) {
				//height: $footer-height-desktop;
		}

		&, a {
				color: #ccc;
		}

		> .container {
				margin-top: 20px;
				margin-bottom: 20px;
		}

		p {
				padding: 2px 0px;
				margin: 0;
				display: block;
				font-size: inherit;
		}

		a {
				padding: 2px 0px;
				margin: 0;
				&:hover {
						color: white;
						text-decoration: underline;
				}
		}

		.footer-links {
				padding: 0;
				margin: 0;
				display: block;
				li {
						padding: 0 10px;
						display: inline-block;
						display: inline;
						&:first-child {
								padding: 0;
						}
				}
		}

		.footer-contacts {
				padding-left: 0px;
				list-style: none;
				padding-top: 10px;
				margin-bottom: 0px;
				@media (min-width: 992px) {
						padding-top: 0px;
						text-align: right;
				}
				.glyphicon {
						font-size: 11px;
				}
				li {
						display: inline;
						@media (min-width: 992px) {
								display: block;
								padding-bottom: 5px;
						}
						.btn-sm {
								height: 20px;
								padding: 1px 8px 1px 6px;
								width: 117px;
								border-radius: 3px;
								font-size: 11px;
								margin-top: -12px;
						}
				}
		}
}
