// _footer.scss

$footer-height-xs: 182px;
$footer-height-sm: 162px;
$footer-height-md: 122px;
$footer-height-lg: 100px;
$footer-padding: 40px;

html {
		position: relative;
		min-height: 100%;
}

body {
		margin-bottom: $footer-height-xs + $footer-padding;
		@media (min-width: 481px) {
				margin-bottom: $footer-height-sm + $footer-padding;
		}
		@media (min-width: 481px) {
				margin-bottom: $footer-height-md + $footer-padding;
		}
		@media (min-width: 980px) {
				margin-bottom: $footer-height-lg + $footer-padding;
		}
}

footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		font-size: 16px;
		background-color: #333;
		height: $footer-height-xs;
		@media (min-width: 481px) {
				height: $footer-height-sm;
		}
		@media (min-width: 481px) {
				height: $footer-height-md;
		}
		@media (min-width: 980px) {
				height: $footer-height-lg;
		}

		&, a {
				color: #ccc;
		}

		> .container {
				margin-top: 20px;
				margin-bottom: 20px;
		}

		p {
				padding: 2px 0px;
				margin: 0;
				display: block;
				font-size: inherit;
		}

		a {
				padding: 2px 0px;
				margin: 0;
				&:hover {
						color: white;
						text-decoration: underline;
				}
		}

		.footer-links {
				padding: 0;
				margin: 0;
				display: block;
				li {
						padding: 0 10px;
						display: inline-block;
						display: inline;
						&:first-child {
								padding: 0;
						}
				}
		}

		.footer-contacts {
				padding-left: 0px;
				list-style: none;
				padding-top: 10px;
				margin-bottom: 0px;
				@media (min-width: 980px) {
						padding-top: 0px;
						text-align: right;
				}
				.glyphicon {
						font-size: 11px;
				}
				li {
						display: inline;
						@media (min-width: 980px) {
								display: block;
								padding-bottom: 5px;
						}
						.btn-sm {
								height: 20px;
								padding: 1px 8px 1px 6px;
								width: 117px;
								border-radius: 3px;
								font-size: 11px;
								margin-top: -12px;
						}
				}
		}
}
