---
layout: default
title: Allies | GW Allies
---

{% include banner.html
   title="Meet the GW Allies"
   subtitle="Who are we all?" %}
<div class="container">
<p class="lead">All of the people on this page are GW Allies, feel free to contact any of them.</p>
<p>Affiliations are in the United States of America unless otherwise noted.</p>
<h2>The GW Allies coordination team</h2>
<div class="team-roster">
  <ul>
{% include member.html name="Daniel Williams" affiliation="Glasgow [UK] (chair)" headshot="williams.jpg" %}
{% include member.html name="Jess McIver" affiliation="Univ. British Columbia [Can.]" headshot="mciver.jpg" %}
  </ul>
</div>
<div style="clear: both;"></div>
<h2>Current Allies</h2>
<div class="team-roster">
  <ul>
{% include member.html name="Christopher Berry" affiliation="Glasgow" headshot="berry.jpg" %}
{% include member.html name="Ofek Birnholtz" affiliation="Rochester Institute of Technology" headshot="birnholtz.jpg" %}
{% include member.html name="Priscilla de Canizares" affiliation="Radboud [Ned.]" headshot="canizares.jpg" %}
{% include member.html name="Sarah Caudill" affiliation="Nikhef [Ned.]" headshot="person.jpg" %}
{% include member.html name="Lynn Cominsky" affiliation="Sonoma State" headshot="cominsky.jpg" %}
{% include member.html name="Belinda Cheeseboro" affiliation="West Virginia" headshot="cheeseboro.jpg" %}
{% include member.html name="Peter Couvares" affiliation="Caltech/Syracuse" headshot="couvares.jpg" %}
{% include member.html name="Derek Davis" affiliation="Caltech" headshot="person.jpg" %}
{% include member.html name="Sheila Dwyer" affiliation="Caltech/LIGO Hanford" headshot="person.jpg" %}
{% include member.html name="Jenne Driggers" affiliation="Caltech/LIGO Hanford" headshot="driggers.jpg" %}
{% include member.html name="Ben Farr" affiliation="U. Oregon" headshot="farr.jpg" %}
{% include member.html name="Paul Fulda" affiliation="U. Florida" headshot="fulda.jpg" %}
{% include member.html name="Evan Goetz" affiliation="Univ. British Columbia [Can.]" headshot="goetz.jpg" %}
{% include member.html name="Joey Key" affiliation="U. Washington Bothell" headshot="key.jpg" %}
{% include member.html name="Nutsinee Kijbunchoo" affiliation="ANU [Aus.]" headshot="kijbunchoo.jpg" %}
{% include member.html name="Amber Lenon" affiliation="West Virginia" headshot="lenon.jpg" %}
{% include member.html name="Tyson Littenberg" affiliation="NASA Marshall Space Flight Center" headshot="littenberg.jpg" %}
{% include member.html name="Lionel London" affiliation="MIT" headshot="london.jpg" %}
{% include member.html name="Andrew Lundgren" affiliation="Portsmouth [UK]" headshot="lundgren.jpg" %}
{% include member.html name="Duncan Macleod" affiliation="Cardiff [UK]" headshot="macleod.jpg" %}
{% include member.html name="Hanna Middleton" affiliation="U. Melbourne [Aus.]" headshot="person.jpg" %}
{% include member.html name="Meg Millhouse" affiliation="U. Melbourne [Aus.]" headshot="millhouse.jpg" %}
{% include member.html name="Satya Mohapatra" affiliation="MIT" headshot="mohapatra.jpg" %}
{% include member.html name="Laura Nuttall" affiliation="Portsmouth [UK]" headshot="nuttall.jpg" %}
{% include member.html name="Jocelyn Read" affiliation="Cal. State Fullerton" headshot="read.jpg" %}
{% include member.html name="Keith Riles" affiliation="U. Mich" headshot="riles.jpg" %}
{% include member.html name="Jax Sanders" affiliation="Marquette" headshot="sanders.jpg" %}
{% include member.html name="David Shoemaker" affiliation="MIT/LIGO" headshot="shoemaker-da.jpg" %}
{% include member.html name="Deirdre Shoemaker" affiliation="Georgia Tech." headshot="shoemaker-de.jpg" %}
{% include member.html name="Joshua Smith" affiliation="Cal. State Fullerton" headshot="person.jpg" %}
{% include member.html name="Eric Thrane" affiliation="Monash [Aus.]" headshot="thrane.jpg" %}
{% include member.html name="Amber Stuver" affiliation="Villanova" headshot="stuver.jpg" %}
{% include member.html name="Alex Urban" affiliation="LSU" headshot="urban.jpg" %}
{% include member.html name="Marissa Walker" affiliation="CNU" headshot="walker.jpg" %}
{% include member.html name="Josh Willis" affiliation="Caltech" headshot="willis.jpg" %}
  </ul>
</div>
<div style="clear: both;"></div>
<h2>Alumni</h2>
<div class="team-roster">
  <ul>
{% include member.html name="Collin Capano" affiliation="AEI-Hannover [Ger.]" headshot="person.jpg" %}
{% include member.html name="Sydney Chamberlin" affiliation="Penn. State" headshot="chamberlin.jpg" %}
{% include member.html name="Kiranjyot Gill" affiliation="Embry-Riddle A. U." headshot="person.jpg" %}
{% include member.html name="Brittany Kamai" affiliation="Caltech" headshot="kamai.jpg" %}
{% include member.html name="TJ Massinger" affiliation="MIT" headshot="massinger.jpg" %}
{% include member.html name="Grant Meadors" affiliation="Monash [Aus.]" headshot="meadors.jpg" %}
{% include member.html name="Chis Pankow" affiliation="Northwestern" headshot="pankow.jpg" %}
{% include member.html name="Sylvia Zhu" affiliation="AEI-Hannover [Ger.]" headshot="zhu.jpg" %}
  </ul>
</div>
<div style="clear: both;"></div>
</div>
