---
layout: default
title: Members
---

{% include banner.html
   title="Meet the LVC Allies"
   subtitle="Who are we all?" %}
<div class="container">
<p class="lead">All of the people on this page are LVC Allies, feel free to contact any of them if you need to.</p>
<p>Affiliations are in the United States of America unless otherwise noted.</p>
<h2>The LVC Allies executive committee</h2>
<div class="team-roster">
  <ul>
{% include member.html name="Sarah Gossan" affiliation="Caltech (chair)" headshot="gossan.jpg" %}
{% include member.html name="Andrew Lundgren" affiliation="AEI-Hannover (Ger.)" headshot="lundgren.jpg" %}
{% include member.html name="Duncan Macleod" affiliation="LSU" headshot="macleod.jpg" %}
{% include member.html name="Jess McIver" affiliation="Caltech" headshot="woman.jpg" %}
{% include member.html name="Samaya Nissanke" affiliation="Radboud (Ned.)" headshot="woman.jpg" %}
{% include member.html name="David Shoemaker" affiliation="MIT LIGO" headshot="shoemaker.jpg" %}
{% include member.html name="Amber Stuver" affiliation="LSU/LIGO" headshot="stuver.jpg" %}
  </ul>
</div>
<div style="clear: both;"></div>
<h2>Current Allies</h2>
<div class="team-roster">
  <ul>
{% include member.html name="Priscilla de Canizares" affiliation="Cambridge (UK)" headshot="woman.jpg" %}
{% include member.html name="Peter Couvares" affiliation="Caltech/Syracuse" headshot="man.jpg" %}
{% include member.html name="Paul Fulda" affiliation="U. Florida" headshot="man.jpg" %}
{% include member.html name="Jocelyn Read" affiliation="Cal. State Fullerton" headshot="read.jpg" %}
{% include member.html name="Marissa Walker" affiliation="LSU" headshot="woman.jpg" %}
  </ul>
</div>
<div style="clear: both;"></div>
</div>
